* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f9;
    min-height: 100vh;
}

main {
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   flex: 1;
   justify-content: center;
   align-items: center;
   gap: 20px;
   padding: 20px;
   width: 100%;
}

.section-main {
    flex: 1;
    background-color: white;
    max-width: 60%;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.section-main h2 {
    color: #006bb7;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.section-main p {
    color: #999999;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}


.section-main img {
    width: 100%;
    height: 300px;
}

.section-cursos {
    min-width: 90%;
}

.div-conteudo {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 20px;
}

.div-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f9;
    padding: 20px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
}

.div-item h2 {
    text-align: center;
    text-transform: capitalize;
    color: #1496c5;
    font-size: 20px;
}

.div-item p {
    text-align: center;
    color: #333333;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.section-contato {
    min-width: 40%;
}

.section-contato form {
    display: flex;
    flex-direction: column;
}

.section-contato form input,
.section-contato form textarea {
    margin-bottom: 10px;
    font-size: 20px;    
    color: #333333;
    padding: 10px;
    border-radius: 10px;
}

.section-contato form button {
    padding: 20px;
    background-color: #006bb7;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}

.section-contato form button:hover {
    background-color: #1496c5;
}

.section-contato form button:disabled {
    background-color: #d1d1d1;
}

.comentarios {
    display: flex;
    flex-direction: column;
}

.comentarios .comentario-item {
    display: flex;
    flex-direction: column;
    background-color: #d1d1d1;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 20px;
}

.comentarios .comentario-item p {
    margin-bottom: 0;
}