<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <aside class="aside">
    <div class="logo"></div>
    <nav class="menu">
      <div class="profile">
        <img src="https://github.com/gusttavosouza.png" alt="" srcset="">
        <div class="info-profile">
          <span class="name">Gustavo Roberto</span>
          <span class="email">gustavo@gmail.com</span>
        </div>
        <div class="logout">
          <span class="material-symbols-outlined">logout</span>
        </div>
      </div>

      <div class="menu-item selected">
        <span class="material-symbols-outlined">grid_view</span>
        <strong>Dashboard</strong>
      </div>
      <div class="menu-item">
        <span class="material-symbols-outlined">inventory_2</span>
        <strong>Estoque</strong>
      </div>
      <div class="menu-item">
        <span class="material-symbols-outlined">precision_manufacturing</span>
        <strong>Produção</strong>
      </div>
      <div class="menu-item">
        <span class="material-symbols-outlined">inventory</span>
        <strong>Qualidade</strong>
      </div>
    </nav>

  </aside>
  <main>
  </main>
</body>
</html>