<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Revenda de Veículos</title>

  </head>
  <body>
    <header>
      <h2>Concessionária SENAI</h2>
    </header>

    <main>
      <form>
          <h2>Cadastrar Veículo</h2>

          <div class="input-data">
            <label for="modelo">Modelo</label>
            <input type="text" id="modelo"/>
          </div>

          <div class="input-data">
            <label for="cor">Cor</label>
            <input type="text" id="cor"/>
          </div>

          <div class="input-data">
            <label for="ano">Ano</label>
            <input type="number" id="ano"/>
          </div>

          <div class="input-data">
            <label for="preco">Preço</label>
            <input type="number" id="preco"/>
          </div>

          <div class="input-data">
            <label for="placa">Placa</label>
            <input type="text" id="placa"/>
          </div>

          <div class="input-data">
            <label for="imagem">Imagem</label>
            <input type="text" id="imagem"/>
          </div>

          <button id="botao-cadastrar">
            Cadastrar
          </button>
      </form>

      <aside id="lista-veiculo">
      </aside>
    </main>
  </body>
</html>
