* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    margin-top: 30px;
    width: 70%;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
    margin-bottom: 20px;
    text-align: center;
    font-family: "Roboto";
}

.container .grupo-input {
    display: flex;
    flex-direction: row;
}

#tarefa-text {
    flex: 1;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    outline: none;
    font-size: 20px;
    font-family: "Roboto";
}

#add-tarefa {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#add-tarefa:hover {
    background-color: #218838;
}

#lista-tarefa {
    list-style-type: none;
    margin-top: 20px
}

#lista-tarefa li {
    background-color: #f9f9f9;
    border: 1px solid #dddddd;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 10px;
}

.check, .delete, .edit {
    border: none;
    background: none;
    cursor: pointer;
    margin-left: 10px;
}

.check {
    color: #00ff00;
}

.edit {
    color: #007bff;
}

.delete {
    color: #dc3545;
}

.completed {
    background-color: #dcedc8 !important;
}