<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <main>
        <div class="login">
            <h1>Faça Login</h1>
            <div class="grupo-campos">
                <input type="text" id="email_login" placeholder="E-mail">
                <input type="password" id="password_login" placeholder="Senha">
                <button id="acessar">Acessar</button>
            </div>
        </div>
        
        <div class="cadastro">
            <h1>Faça seu cadastro</h1>
            <div class="grupo-campos">
                <input type="text" id="name" placeholder="Nome">
                <input type="date" id="data_nascimento" placeholder="Data Nascimento">
                <input type="text" id="email" placeholder="E-mail">
                <input type="password" id="password" placeholder="Senha">
                <input type="password" id="password_confirmation" placeholder="Confirmar Senha">
                <button id="cadastrar">Cadastrar</button>
            </div>
        </div>  
    </main>
</body>
</html>